@import "colors";
@import "fonts";
@import "theme-light";

// 基础色调
$color-primary: $color-blue-primary !default; // 主色
$color-secondary: map-get($color-pink, A200) !default;
$color-success: $color-green-primary !default;
$color-warning: map-get($color-yellow, 600) !default;
$color-error: $color-red-primary !default;
$color-info: $color-blue-primary !default;
$color-track: map-get($color-grey, 400) !default;

// 文字颜色
$color-text-primary: map-get($color-text, primary) !default;
$color-text-secondary: map-get($color-text, secondary) !default;
$color-text-disabled: map-get($color-text, disabled) !default;
$color-text-hint: map-get($color-text, hint) !default;
$color-text-alternate: map-get($color-text, alternate) !default;

// 边框颜色
$color-border: $color-divider !default;

// 字体图标颜色
$color-icon-active: $color-icon-active !default;
$color-icon-disabled: $color-icon-disabled !default;

// 背景色
$background-status-bar: $background-status-bar !default;
$background-app-bar: $background-app-bar !default;
$background-body: $background-body !default;
$background-dialog: $background-dialog !default;
$background-card: $background-card !default;


//// spaceing
//@iconSize: 24px;
//@desktopGutter: 24px;
//@desktopGutterMore: 32px;
//@desktopGutterLess: 16px;
//@desktopGutterMini: 8px;
//@desktopKeylineIncrement: 64px;
//@desktopDropDownMenuItemHeight: 32px;
//@desktopDropDownMenuFontSize: 15px;
//@desktopDrawerMenuItemHeight: 48px;
//@desktopSubheaderHeight: 48px;
//@desktopToolbarHeight: 56px;
//
//// animate
//@easeOutFunction: cubic-bezier(0.23, 1, 0.32, 1);
//@easeInOutFunction: cubic-bezier(0.445, 0.05, 0.55, 0.95);
