// 主题 - 暗色（深色背景）

@import "colors";

// 字体颜色
$color-text: (
  primary: rgba($color-white, 1), // 主文本
  secondary: rgba($color-white, 0.7), // 辅助文本
  disabled: rgba($color-white, 0.5), // 禁用文本
  hint: rgba($color-white, 0.5), // 提示文本
  alternate: rgba($color-white, 1), // 彩色背景上的字体颜色
);

// 分割线颜色
$color-divider: rgba($color-white, 0.12);

// 图标颜色
$color-icon-active: rgba($color-white, 1); // 可用图标
$color-icon-disabled: rgba($color-white, 0.5); // 禁用图标

// 背景色
$background-status-bar: $color-black; // 状态栏背景色
$background-app-bar: map-get($color-grey, 900); // 应用栏背景色
$background-body: #303030; // 背景
$background-dialog: map-get($color-grey, 800); // 弹窗背景色
$background-card: map-get($color-grey, 800); // 卡片背景色
