// 主题 - 亮色（浅色背景）

@import "colors";

// 字体颜色
$color-text: (
  primary: rgba($color-black, 0.87), // 主文本
  secondary: rgba($color-black, 0.54), // 辅助文本
  disabled: rgba($color-black, 0.38), // 禁用文本
  hint: rgba($color-black, 0.38), // 提示文本
  alternate: rgba($color-white, 1), // 彩色背景上的字体颜色
);

// 分割线颜色
$color-divider: rgba($color-black, 0.12);

// 图标颜色
$color-icon-active: rgba($color-black, 0.54); // 可用图标
$color-icon-disabled: rgba($color-black, 0.38); // 禁用图标

// 背景色
$background-status-bar: map-get($color-grey, 300); // 状态栏背景色
$background-app-bar: map-get($color-grey, 100); // 应用栏背景色
$background-body: map-get($color-grey, 50); // 背景
$background-dialog: $color-white; // 弹窗背景色
$background-card: $color-white; // 卡片背景色
