@import "../utils";

$button-min-width: 88px !default;
$button-small-min-width: 64px !default;
$button-height: 36px !default;
$button-touch-height: 48px !default;
$button-padding: 16px !default;
$button-margin: 8px !default;
$button-border-radius: 2px !default;
$button-text-size: 14px;
$button-small-text-size: 13px;

$button-fab-size: 56px !default;
$button-fab-size-mini: 40px !default;
$button-fab-font-size: 24px !default;

$button-icon-size: 32px !default;
$button-icon-size-mini: 24px !default;

.x-button {
  font-family: Roboto Medium, Noto, sans-serif;
  font-size: $button-text-size;
  text-transform: uppercase;
  min-width: $button-min-width;
  padding: 0 $button-padding;
  margin: $button-margin;
  line-height: $button-height;
  color: $color-text-primary;
  @include depth(2);

  &:hover {
    @include depth(4);
  }

  &__primary, &__secondary, &__info, &__success, &__warning, &__error {
    color: $color-text-alternate;
  }

  // 主要按钮
  &__primary {
    background: $color-primary;
  }

  // 次要按钮
  &__secondary {
    background: $color-secondary;
  }

  // 信息按钮
  &__info {
    background: $color-info;
  }

  // 成功按钮
  &__success {
    background: $color-success;
  }

  // 警告按钮
  &__warning {
    background: $color-warning;
  }

  // 危险按钮
  &__error {
    background: $color-error;
  }

  // 小按钮
  &__small {
    min-width: $button-small-min-width;
    font-size: $button-small-text-size;
  }

  // 圆角按钮
  &__round {
    border-radius: $button-height / 2;
  }

  // 块级按钮
  &__block {
    display: block;
  }

  // 点击有涟漪按钮
  &__ripple {

  }

  // 扁平按钮
  &__flat {
    @include depth(0);

    &:hover {
      @include depth(0);
    }
  }

  // 浮动操作按钮
  &__fab {
    @include depth(6);

    &:hover {
      @include depth(12);
    }
  }

  // 禁用按钮
  &__disabled {
    cursor: not-allowed;
  }
}
