@import "../utils";

@font-face {
  font-family: 'Material Icons';
  src: url("~@/assets/fonts/material-icons/MaterialIcons-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

//@font-face {
//  font-family: 'Material Icons Outlined';
//  src: url("~@/assets/fonts/material-icons/MaterialIconsOutlined-Regular.otf");
//  font-style: normal;
//  font-weight: 400;
//}
//
//@font-face {
//  font-family: "Material Icons Round";
//  src: url("~@/assets/fonts/material-icons/MaterialIconsRound-Regular.otf");
//  font-style: normal;
//  font-weight: 400;
//}
//
//@font-face {
//  font-family: "Material Icons Sharp";
//  src: url("~@/assets/fonts/material-icons/MaterialIconsSharp-Regular.otf");
//  font-style: normal;
//  font-weight: 400;
//}
//
//@font-face {
//  font-family: "Material Icons TwoTone";
//  src: url("~@/assets/fonts/material-icons/MaterialIconsTwoTone-Regular.otf");
//  font-style: normal;
//  font-weight: 400;
//}

.x-icon {
  font-family: "Material Icons";
  color: $color-text-primary;
  font-size: 24px;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  //&__outlined {
  //  font-family: "Material Icons Outlined";
  //}
  //
  //&__round {
  //  font-family: "Material Icons Round";
  //}
  //
  //&__sharp {
  //  font-family: "Material Icons Sharp";
  //}
  //
  //&__two-tone {
  //  font-family: "Material Icons TwoTone";
  //}
}
